<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @bio.Bio %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio), class: "normal-link" %> |
<%= link_to 'Back', bios_path, class: "normal-link"%>
